@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,600&display=swap);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
  font-size: 100%;
}

body {
  color: #e5e5e5;
  line-height: 1;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Open Sans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

cite {
  font-style: normal;
}

/*--------------------*/
body {
  background-color: #1a1a1a;
  font-weight: 300;
}
body._lock, body.menu-open {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > * {
  min-width: 0;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@supports (padding-block: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem )) {
  .page > *:not([class*="--nopadding"]) {
    padding-block: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem );
  }
}
@supports not (padding-block: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem )) {
  .page > *:not([class*="--nopadding"]) {
    padding-block: calc(1.875rem + 4.375 * (100vw - 20rem) / 54.375);
  }
}
@supports (padding-top: clamp( 6.25rem , 5.4454022989rem  +  4.0229885057vw , 8.4375rem )) {
  .page__hero {
    padding-top: clamp( 6.25rem , 5.4454022989rem  +  4.0229885057vw , 8.4375rem );
  }
}
@supports not (padding-top: clamp( 6.25rem , 5.4454022989rem  +  4.0229885057vw , 8.4375rem )) {
  .page__hero {
    padding-top: calc(6.25rem + 2.1875 * (100vw - 20rem) / 54.375);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem )) {
  .page__hero {
    padding-bottom: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 0.2658045977rem  +  8.0459770115vw , 6.25rem )) {
  .page__hero {
    padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 54.375);
  }
}
[class*=__container] {
  max-width: 72.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.25;
  color: #39ff14;
  text-wrap: balance;
}
@supports (font-size: clamp( 2.5rem , 1.2126436782rem  +  6.4367816092vw , 6rem )) {
  .title {
    font-size: clamp( 2.5rem , 1.2126436782rem  +  6.4367816092vw , 6rem );
  }
}
@supports not (font-size: clamp( 2.5rem , 1.2126436782rem  +  6.4367816092vw , 6rem )) {
  .title {
    font-size: calc(2.5rem + 3.5 * (100vw - 20rem) / 54.375);
  }
}

.text {
  color: #aaaaaa;
  line-height: 1.35;
  text-wrap: balance;
}
@supports (font-size: clamp( 1rem , 0.908045977rem  +  0.4597701149vw , 1.25rem )) {
  .text {
    font-size: clamp( 1rem , 0.908045977rem  +  0.4597701149vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.908045977rem  +  0.4597701149vw , 1.25rem )) {
  .text {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 54.375);
  }
}
.text p:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 47.99875em) {
  .text p:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

.button {
  position: relative;
  padding: 1.4375rem 1.5625rem;
  font-weight: 600;
}
.button span {
  position: relative;
  z-index: 2;
  color: #39ff14;
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  width: 3.875rem;
  height: 3.875rem;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
@media (any-hover: hover) {
  .button:hover::before {
    width: 100%;
    border-radius: 100px;
  }
}
@media (max-width: 29.99875em) {
  .button {
    padding: 1.3125rem 1.5625rem;
    font-size: 0.875rem;
  }
  .button::before {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding-block: 2.375rem;
  z-index: 50;
}
.header._fixed .header__container::after {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  scale: 1;
}
@media (max-width: 47.99875em) {
  .header {
    padding-block: 1.5625rem;
  }
}
.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}
.header__container::after {
  content: "";
  position: absolute;
  width: 98%;
  height: 60px;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: #1a1a1a;
  border: 1px solid rgba(170, 170, 170, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  scale: 0;
}
.header__logo {
  position: relative;
  z-index: 3;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  white-space: nowrap;
  padding-left: 10px;
}
@media (max-width: 29.99875em) {
  .header__logo {
    font-size: 1.25rem;
  }
}
.header__menu {
  padding-right: 10px;
  position: relative;
  z-index: 2;
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    background-color: #1a1a1a;
    overflow: auto;
    padding: 6.875rem 0.9375rem 1.875rem;
    -webkit-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
  }
  .menu__body::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 6.25rem;
    left: 100%;
    top: 0;
    background-color: #1a1a1a;
    -webkit-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
  }
}
@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .menu__body {
    padding-top: 5rem;
  }
  .menu__body::after {
    height: 4.6875rem;
  }
}
@media (max-width: 61.99875em) {
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::after {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}
@media (max-width: 68.75em) {
  .menu__list {
    gap: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.menu__link {
  font-weight: 400;
  font-size: 1rem;
  padding: 0.3125rem;
  rotate: 0deg;
  scale: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
}
.menu__link span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #39ff14;
}
@media (any-hover: hover) {
  .menu__link:hover {
    rotate: -5deg;
    scale: 1.05;
    background-color: #39ff14;
    color: #1a1a1a;
  }
  .menu__link:hover span {
    color: #1a1a1a;
  }
}
@media (max-width: 61.99875em) {
  .menu__link {
    font-size: 2.25rem;
  }
}
@media (max-width: 29.99875em) {
  .menu__link {
    font-size: 1.75rem;
  }
}

.icon-menu {
  display: block;
  position: relative;
  width: 3.125rem;
  height: 1.4375rem;
  z-index: 35;
}
@media (min-width: 61.99875em) {
  .icon-menu {
    display: none;
  }
}
@media (any-hover: hover) {
  .icon-menu:hover::before, .icon-menu:hover::after, .icon-menu:hover span {
    background-color: #e5e5e5;
  }
}
.icon-menu::before, .icon-menu::after, .icon-menu span {
  position: absolute;
  z-index: 2;
  height: 0.0625rem;
  right: 0;
  background-color: #e5e5e5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.icon-menu::before {
  content: "";
  width: 3.125rem;
  top: 0;
}
.icon-menu::after {
  content: "";
  width: 2.8125rem;
  bottom: 0;
}
.icon-menu span {
  width: 2.1875rem;
  top: 50%;
  margin-top: -0.03125rem;
}
.icon-menu small {
  border-radius: 50%;
  position: absolute;
  width: 0;
  aspect-ratio: 1;
  top: 0;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  opacity: 0;
  border: 1px solid #39ff14;
  -webkit-transition: width 0.3s, opacity 0.3s;
  transition: width 0.3s, opacity 0.3s;
}
.menu-open .icon-menu::before {
  rotate: -45deg;
  top: 50%;
  translate: 0 -50%;
}
.menu-open .icon-menu::after {
  rotate: 45deg;
  bottom: 50%;
  translate: 0 50%;
  width: 50px;
}
.menu-open .icon-menu span {
  width: 0;
}
.menu-open .icon-menu small {
  opacity: 1;
  width: 12.5rem;
}
@media (max-width: 34.375em) {
  .menu-open .icon-menu small {
    width: 6.5625rem;
  }
}

@media (min-width: 47.99875em) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero__content {
  position: relative;
  z-index: 2;
  -ms-flex-preferred-size: 58.362069%;
      flex-basis: 58.362069%; /* 677/1160 */
}
.hero__content > *:not(:last-child) {
  margin-bottom: 2.1875rem;
}
@media (max-width: 47.99875em) {
  .hero__content:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .hero__content > *:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.hero__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 0.94;
  color: #39ff14;
}
@supports (font-size: clamp( 5.125rem , -0.5076530612rem  +  11.7346938776vw , 8rem )) {
  .hero__title {
    font-size: clamp( 5.125rem , -0.5076530612rem  +  11.7346938776vw , 8rem );
  }
}
@supports not (font-size: clamp( 5.125rem , -0.5076530612rem  +  11.7346938776vw , 8rem )) {
  .hero__title {
    font-size: calc(5.125rem + 2.875 * (100vw - 48rem) / 24.5);
  }
}
@media (max-width: 47.99875em) {
  @supports (font-size: clamp( 3.375rem , 1.5rem  +  9.375vw , 6rem )) {
    .hero__title {
      font-size: clamp( 3.375rem , 1.5rem  +  9.375vw , 6rem );
    }
  }
  @supports not (font-size: clamp( 3.375rem , 1.5rem  +  9.375vw , 6rem )) {
    .hero__title {
      font-size: calc(3.375rem + 2.625 * (100vw - 20rem) / 28);
    }
  }
}
.hero__sub-title {
  line-height: 1.36;
}
@supports (font-size: clamp( 1.5rem , 0.0306122449rem  +  3.0612244898vw , 2.25rem )) {
  .hero__sub-title {
    font-size: clamp( 1.5rem , 0.0306122449rem  +  3.0612244898vw , 2.25rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 0.0306122449rem  +  3.0612244898vw , 2.25rem )) {
  .hero__sub-title {
    font-size: calc(1.5rem + 0.75 * (100vw - 48rem) / 24.5);
  }
}
.hero__media {
  -ms-flex-preferred-size: 56.37931%;
      flex-basis: 56.37931%; /* 654/1160 */
}
@media (min-width: 47.99875em) {
  .hero__body {
    margin-left: -35.403727%; /* 171/483 */
  }
}
.hero__image {
  border-radius: 50%;
  width: 100%;
  pointer-events: none;
}

.about__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.about__text:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 47.99875em) {
  .about__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@supports (gap: clamp( 1.25rem , -1.1989795918rem  +  5.1020408163vw , 2.5rem )) {
  .about__body {
    gap: clamp( 1.25rem , -1.1989795918rem  +  5.1020408163vw , 2.5rem );
  }
}
@supports not (gap: clamp( 1.25rem , -1.1989795918rem  +  5.1020408163vw , 2.5rem )) {
  .about__body {
    gap: calc(1.25rem + 1.25 * (100vw - 48rem) / 24.5);
  }
}
@media (max-width: 47.99875em) {
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__stack {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 46.206897%;
      flex-basis: 46.206897%; /* 536/1160 */
}
.about__achievements {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 48.275862%;
      flex-basis: 48.275862%; /* 560/1160 */
  width: 100%;
}

.stack-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}
.stack-about__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 22%;
          flex: 1 1 22%;
  border: 1px solid #e5e5e5;
  padding: 0.3125rem 0.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
}
.stack-about__icon {
  width: 1.875rem;
  height: 1.875rem;
}
.stack-about__icon svg {
  width: 100%;
  height: 100%;
  fill: #e5e5e5;
}
.stack-about__icon .stroke {
  fill: transparent;
  stroke: #e5e5e5;
}
.stack-about__text {
  line-height: 1.35;
  text-align: center;
  white-space: nowrap;
}
@supports (font-size: clamp( 1rem , 0.5102040816rem  +  1.0204081633vw , 1.25rem )) {
  .stack-about__text {
    font-size: clamp( 1rem , 0.5102040816rem  +  1.0204081633vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.5102040816rem  +  1.0204081633vw , 1.25rem )) {
  .stack-about__text {
    font-size: calc(1rem + 0.25 * (100vw - 48rem) / 24.5);
  }
}

.achievements-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@supports (gap: clamp( 1.25rem , -1.1989795918rem  +  5.1020408163vw , 2.5rem )) {
  .achievements-about {
    gap: clamp( 1.25rem , -1.1989795918rem  +  5.1020408163vw , 2.5rem );
  }
}
@supports not (gap: clamp( 1.25rem , -1.1989795918rem  +  5.1020408163vw , 2.5rem )) {
  .achievements-about {
    gap: calc(1.25rem + 1.25 * (100vw - 48rem) / 24.5);
  }
}
.achievements-about__item {
  border: 1px solid #e5e5e5;
  padding: 0.9375rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 46%;
          flex: 1 1 46%;
}
.achievements-about__value {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.22;
}
@supports (font-size: clamp( 3rem , 1.0408163265rem  +  4.0816326531vw , 4rem )) {
  .achievements-about__value {
    font-size: clamp( 3rem , 1.0408163265rem  +  4.0816326531vw , 4rem );
  }
}
@supports not (font-size: clamp( 3rem , 1.0408163265rem  +  4.0816326531vw , 4rem )) {
  .achievements-about__value {
    font-size: calc(3rem + 1 * (100vw - 48rem) / 24.5);
  }
}
.achievements-about__value span {
  color: #39ff14;
}
.achievements-about__value:not(:last-child) {
  margin-bottom: 0.625rem;
}
.achievements-about__text {
  line-height: 1.35;
  white-space: nowrap;
}
@supports (font-size: clamp( 1rem , 0.5102040816rem  +  1.0204081633vw , 1.25rem )) {
  .achievements-about__text {
    font-size: clamp( 1rem , 0.5102040816rem  +  1.0204081633vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.5102040816rem  +  1.0204081633vw , 1.25rem )) {
  .achievements-about__text {
    font-size: calc(1rem + 0.25 * (100vw - 48rem) / 24.5);
  }
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4.375rem;
}
@media (max-width: 47.99875em) {
  .services__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }
}
.services__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -ms-flex-preferred-size: 13.793103%;
      flex-basis: 13.793103%; /* 160/1160 */
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.22;
  text-wrap: balance;
}
@supports (font-size: clamp( 1rem , 0.816091954rem  +  0.9195402299vw , 1.5rem )) {
  .services__title {
    font-size: clamp( 1rem , 0.816091954rem  +  0.9195402299vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.816091954rem  +  0.9195402299vw , 1.5rem )) {
  .services__title {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 54.375);
  }
}
.services__title::before {
  content: "";
  display: inline-block;
  width: 1.875rem;
  height: 0.0625rem;
  background-color: #e5e5e5;
}
@media (min-width: 47.99875em) {
  .services__title {
    position: sticky;
    top: 120px;
  }
}
.services__list {
  -ms-flex-preferred-size: 72.413793%;
      flex-basis: 72.413793%; /* 840/1160 */
  counter-reset: item;
  display: -ms-grid;
  display: grid;
  gap: 3.125rem;
}
@media (max-width: 61.99875em) {
  .services__list {
    gap: 2.1875rem;
  }
}
@media (max-width: 47.99875em) {
  .services__list {
    gap: 1.25rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.services__item {
  position: relative;
  padding-left: 10.357143%; /* 87/840 */
}
@supports (font-size: clamp( 1.375rem , 1.1451149425rem  +  1.1494252874vw , 2rem )) {
  .services__item {
    font-size: clamp( 1.375rem , 1.1451149425rem  +  1.1494252874vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.375rem , 1.1451149425rem  +  1.1494252874vw , 2rem )) {
  .services__item {
    font-size: calc(1.375rem + 0.625 * (100vw - 20rem) / 54.375);
  }
}
.services__item::before {
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.22;
  color: #39ff14;
}
.services__item > *:not(:last-child) {
  margin-bottom: 0.625rem;
}
.services__item:not(:last-child) {
  padding-bottom: 3.125rem;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}
@media (max-width: 61.99875em) {
  .services__item:not(:last-child) {
    padding-bottom: 2.1875rem;
  }
}
@media (max-width: 47.99875em) {
  .services__item:not(:last-child) {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .services__item {
    padding-left: 35px;
  }
}
.services__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.22;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .services__name:hover {
    color: #39ff14;
  }
}
.services__text {
  font-size: 1.25rem;
  line-height: 1.35;
  color: #aaaaaa;
}
@media (max-width: 47.99875em) {
  .services__text {
    font-size: 1rem;
  }
}

.portfolio__title:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (max-width: 61.99875em) {
  .portfolio__title:not(:last-child) {
    margin-bottom: 2.1875rem;
  }
}
@media (max-width: 47.99875em) {
  .portfolio__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 61.99875em) {
  .portfolio__body {
    grid-template-columns: repeat(auto-fill, minmax(19.0625rem, 1fr));
    gap: 1.25rem;
  }
}
@media (min-width: 47.99875em) {
  .portfolio__body {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .portfolio__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    margin-inline: -0.9375rem;
    padding-inline: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .portfolio__item {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media (max-width: 29.99875em) {
  .portfolio__item {
    -ms-flex-preferred-size: 92%;
        flex-basis: 92%;
  }
}

.item-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.item-portfolio > *:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 47.99875em) {
  .item-portfolio > *:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.item-portfolio__picture {
  width: 100%;
  border-radius: 0.9375rem;
  overflow: hidden;
}
@media (any-hover: hover) {
  .item-portfolio__picture:hover .item-portfolio__image {
    scale: 1.03;
  }
}
@media (max-width: 29.99875em) {
  .item-portfolio__picture {
    border-radius: 0.625rem;
  }
}
.item-portfolio__image {
  pointer-events: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1;
  -webkit-transition: scale 0.3s ease 0s;
  transition: scale 0.3s ease 0s;
}
.item-portfolio__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.22;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  text-wrap: balance;
}
@supports (font-size: clamp( 1.375rem , 1.1451149425rem  +  1.1494252874vw , 2rem )) {
  .item-portfolio__title {
    font-size: clamp( 1.375rem , 1.1451149425rem  +  1.1494252874vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.375rem , 1.1451149425rem  +  1.1494252874vw , 2rem )) {
  .item-portfolio__title {
    font-size: calc(1.375rem + 0.625 * (100vw - 20rem) / 54.375);
  }
}
@media (any-hover: hover) {
  .item-portfolio__title:hover {
    color: #39ff14;
  }
}
.item-portfolio__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item-portfolio__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media (max-width: 47.99875em) {
  .item-portfolio__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.item-portfolio__stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
}
.item-portfolio__stack:not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media (max-width: 47.99875em) {
  .item-portfolio__stack {
    gap: 0.625rem;
  }
  .item-portfolio__stack:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.item-portfolio__tech {
  border: 1px solid #e5e5e5;
  padding: 0.3125rem 0.625rem;
  color: #ffffff;
  line-height: 1.375;
}
@media (max-width: 61.99875em) {
  .item-portfolio__tech {
    font-size: 0.875rem;
  }
}
@media (max-width: 47.99875em) {
  .item-portfolio__tech {
    font-size: 0.75rem;
    padding: 0.15625rem 0.3125rem;
  }
}
.item-portfolio__link {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.25rem;
  line-height: 1.22;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.item-portfolio__link span {
  color: #39ff14;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-portfolio__link:hover span {
    color: #e5e5e5;
  }
}
@media (max-width: 61.99875em) {
  .item-portfolio__link {
    font-size: 1rem;
  }
}

.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4.375rem;
}
@media (max-width: 61.99875em) {
  .reviews__container {
    gap: 3.125rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 47.99875em) {
  .reviews__container {
    gap: 1.875rem;
  }
}
@media (min-width: 61.99875em) {
  .reviews__body {
    -ms-flex-preferred-size: 23.75rem;
        flex-basis: 23.75rem;
    position: sticky;
    top: 120px;
  }
}
.reviews__titlt {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.23;
}
@supports (font-size: clamp( 2rem , 1.632183908rem  +  1.8390804598vw , 3rem )) {
  .reviews__titlt {
    font-size: clamp( 2rem , 1.632183908rem  +  1.8390804598vw , 3rem );
  }
}
@supports not (font-size: clamp( 2rem , 1.632183908rem  +  1.8390804598vw , 3rem )) {
  .reviews__titlt {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 54.375);
  }
}
.reviews__titlt:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 47.99875em) {
  .reviews__titlt:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.reviews__text {
  line-height: 1.35;
  text-wrap: balance;
}
@supports (font-size: clamp( 1rem , 0.908045977rem  +  0.4597701149vw , 1.25rem )) {
  .reviews__text {
    font-size: clamp( 1rem , 0.908045977rem  +  0.4597701149vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.908045977rem  +  0.4597701149vw , 1.25rem )) {
  .reviews__text {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 54.375);
  }
}
.reviews__text span {
  color: #39ff14;
}
.reviews__text:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (max-width: 47.99875em) {
  .reviews__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.reviews__list {
  display: -ms-grid;
  display: grid;
  gap: 3.125rem;
  -ms-flex-preferred-size: 61.206897%;
      flex-basis: 61.206897%; /* 710/1160 */
}
@media (max-width: 61.99875em) {
  .reviews__list {
    gap: 2.1875rem;
  }
}
@media (max-width: 47.99875em) {
  .reviews__list {
    gap: 1.25rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.reviews__item {
  position: relative;
  padding-left: 14.225352%; /* 101/710 */
}
.reviews__item::before {
  content: "";
  position: absolute;
  width: 3.1875rem;
  height: 2.5rem;
  left: 0;
  top: 0;
  background: url("../img/icons/quote.svg") 0 0/cover no-repeat;
}
.reviews__item > *:not(:last-child) {
  margin-bottom: 0.625rem;
}
.reviews__item:not(:last-child) {
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
  padding-bottom: 3.125rem;
}
@media (max-width: 61.99875em) {
  .reviews__item:not(:last-child) {
    padding-bottom: 2.1875rem;
  }
}
@media (max-width: 47.99875em) {
  .reviews__item:not(:last-child) {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .reviews__item::before {
    width: 1.5625rem;
    height: 1.25rem;
  }
}
.reviews__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.22;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@supports (font-size: clamp( 1.375rem , 1.1451149425rem  +  1.1494252874vw , 2rem )) {
  .reviews__name {
    font-size: clamp( 1.375rem , 1.1451149425rem  +  1.1494252874vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.375rem , 1.1451149425rem  +  1.1494252874vw , 2rem )) {
  .reviews__name {
    font-size: calc(1.375rem + 0.625 * (100vw - 20rem) / 54.375);
  }
}
@media (any-hover: hover) {
  .reviews__name:hover {
    color: #39ff14;
  }
}
.reviews__description:not(:last-child) {
  margin-bottom: 1.875rem;
}
.reviews__author span {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #aaaaaa;
}
@media (any-hover: hover) {
  .reviews__author:hover span {
    color: #39ff14;
  }
}

.contacts__title:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (max-width: 61.99875em) {
  .contacts__title:not(:last-child) {
    margin-bottom: 2.1875rem;
  }
}
@media (max-width: 47.99875em) {
  .contacts__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
}
@media (max-width: 61.99875em) {
  .contacts__body {
    gap: 1.875rem;
  }
}
@media (max-width: 35em) {
  .contacts__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.contacts__qr-code {
  -ms-flex-preferred-size: 43.103448%;
      flex-basis: 43.103448%; /* 500/1160 */
}
@media (max-width: 35em) {
  .contacts__qr-code {
    width: 100%;
  }
}
.contacts__image {
  aspect-ratio: 1;
  width: 31.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
@media (max-width: 35em) {
  .contacts__image {
    width: 100%;
  }
}
.contacts__social {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}
@media (max-width: 47.99875em) {
  .contacts__social {
    gap: 1.25rem;
  }
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  line-height: 1.375;
}
@supports (font-size: clamp( 1rem , 0.2941176471rem  +  2.3529411765vw , 2rem )) {
  .contacts__item {
    font-size: clamp( 1rem , 0.2941176471rem  +  2.3529411765vw , 2rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.2941176471rem  +  2.3529411765vw , 2rem )) {
  .contacts__item {
    font-size: calc(1rem + 1 * (100vw - 30rem) / 42.5);
  }
}
.contacts__item svg {
  stroke: #e5e5e5;
  fill: transparent;
  -webkit-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
}
@supports (width: clamp( 3.125rem , -0.5484693878rem  +  7.6530612245vw , 5rem )) {
  .contacts__item svg {
    width: clamp( 3.125rem , -0.5484693878rem  +  7.6530612245vw , 5rem );
  }
}
@supports not (width: clamp( 3.125rem , -0.5484693878rem  +  7.6530612245vw , 5rem )) {
  .contacts__item svg {
    width: calc(3.125rem + 1.875 * (100vw - 48rem) / 24.5);
  }
}
@supports (height: clamp( 3.125rem , -0.5484693878rem  +  7.6530612245vw , 5rem )) {
  .contacts__item svg {
    height: clamp( 3.125rem , -0.5484693878rem  +  7.6530612245vw , 5rem );
  }
}
@supports not (height: clamp( 3.125rem , -0.5484693878rem  +  7.6530612245vw , 5rem )) {
  .contacts__item svg {
    height: calc(3.125rem + 1.875 * (100vw - 48rem) / 24.5);
  }
}
@media (any-hover: hover) {
  .contacts__item:hover svg {
    stroke: #39ff14;
  }
}
@media (max-width: 47.99875em) {
  .contacts__item {
    gap: 0.625rem;
  }
}